@font-face {
    font-family: 'Archicoco';
    src: url("public/Archicoco.woff") format("woff");
}

:root {
    --primary-color: #2b2b2b;
    --primaty-font: 'Archicoco';
    --primary-font-color: #ddd1d1;
}

#map {
    width: calc(100vw - 20px); /* Uwzględnij szerokość przycisku i marginesów */
    height: 100vh;
    position: relative;
}

#menuButton {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 1000; 
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 5px 10px;
    cursor: pointer;
    color: #ddd1d1;
    font-family: var(--primaty-font);
}

#filtersMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw; 
    height: 100vh; 
    background-color: var(--primary-color); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    overflow-y: auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    color: #ddd1d1;
    transform: translateX(100%);    
    transition: transform 0.75s ease-out;
    font-family: var(--primaty-font);
}

#filtersMenu.open {
    transform: translateX(0);
}

#locationInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33.33vh; /* 1/3 of the viewport height */
    padding: 20px;
    background-color: var(--primary-color); 
    color: #ddd1d1;
    border-radius: 30px 30px 0 0; 
    box-sizing: border-box;
    overflow: auto;
    z-index: 999; 
    transform: translateY(100%);    
    transition: transform 0.75s ease-out, opacity 0.75s ease-out;
    font-family: var(--primaty-font);
}

#locationInfo.open {
    transform: translateY(0); /* 2/3 of the viewport height */
    opacity: 1;
}

#backButton {
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1000;
    cursor: pointer;
}

#backButton svg {
    width: 20px; /* Dostosuj rozmiar ikony */
    height: auto;
    color: #ddd1d1; /* Dostosuj kolor ikony */
}
